<section class="page-section mt-4">
    <div class="container">
            <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        {{#if isLoggedIn}}
            {{#if project.length}}
                    {{#each project}}
                        <form id="edit-project" class="m-3" method="post" action="/edit-project">
                            <div class="form-group">
                                <label for="project-title"><h4>Edit Title</h4></label>
                                <input required minlength="2" type="text" class="form-control" name="title" value="{{title}}">
                            </div>
                            <div class="form-group">
                                <label for="project-description">Edit Description</label>
                                <textarea required minlength="10" type="text" class="form-control textarea-portfolio"
                                    id="project-description" name="description" style="resize: none;">{{description}}</textarea>
                            </div>
                            <a href="/portfolioo"><button class="btn btn-secondary" type="button">Cancel</button></a>
                            <button class="btn btn-primary" name="btnID" value="save" type="submit">Save Changes</button>
                            <button class="btn btn-danger" name="btnID" value="delete" type="submit">Delete</button>
                            <input type="hidden" name="id" value="{{id}}">
                            <input type="hidden" name="_csrf" value="{{../csrf}}">
                        </form>
                {{/each}}
            {{/if}}
        {{else}}
        <div class="container text-center">
            <h3>You need to be logged in to see this page</h3>
        </div>
        {{/if}}
    </div>
</section>